---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

"Time-varying diffusion processes in movement ecology"\\
Talk at the virtual International Statistical Ecology Conference, Sydney, Australia. June 2020.\\
\\

"Linking scales of animal movement using statistical samplers"\\
Seminar at the University of Alberta, Edmonton, Canada. March 2020.\\
\\

"Behavioural response studies of beaked whales using accelerometer data and diffusion models"\\
Talk at the British Ecological Society conference, Belfast, UK. December 2019.\\
\\

"Hidden Markov models for the study of animal movement using R" \\
Seminar at the University of St Andrews, UK. November 2019. \\
\\

"Spline-based diffusion models and application to accelerometer data" \\
Seminar at the University of Glasgow, UK. November 2019. \\
Seminar at the University of St Andrews, UK. November 2019. \\
\\

"Hidden Markov models of animal movement and behaviour" \\
Seminar at the University of Lisbon, Portugal. November 2019. \\
Talk at the congress of the Sociedade Portuguesa de Estatistica, Amarante, Portugal. November 2019. \\
\\

"Modelling animal movement and habitat selection across scales" \\
Invited talk at the annual meeting of the BES movement ecology group, Sheffield, UK. July 2019. \\
\\

"The Langevin diffusion as a model of animal movement and habitat selection" \\
Talk at the meeting of the National Centre for Statistical Ecology, Edinburgh, UK. June 2019. \\
\\

"Modelling animal movement and habitat selection across scales" \\
Seminar at the School of Biosciences of the University of Cardiff, UK. March 2019. \\
\\

"Analysing telemetry data with hidden Markov models" \\
Seminar at the Duke University Marine Lab, Beaufort, USA. March 2019. \\
\\

"Do animals move like statistical samplers?" \\
Talk at the Research Students' Conference in Probability and Statistics, Sheffield, UK. July 2018. \\
\\

"Markov chain Monte Carlo as a model of animal movement and space use" \\
Talk at the International Statistical Ecology Conference, St Andrews, UK. July 2018. \\
\\

"moveHMM and momentuHMM -- Analysing animal movement in R"\\
Tutorial at the moving2gather meeting, Montpellier, France. December 2017.\\
\\

"Can animals do MCMC? Linking resource selection and step selection models"\\
Poster at the Bio-logging symposium, Konstanz, Germany. September 2017.\\
["Click to see my poster."](https://theomichelot.github.io/files/biologging_poster.pdf)\\
\\

"Hidden Markov models for animal movement and other ecological data".\\
Two-day workshop held in St Andrews, UK. August 2017.\\
\\

"From movement to space use" \\
Flash talk at the meeting of BES movement ecology group, London, UK. July 2017. \\
\\

"momentuHMM: an R package for the analysis of general telemetry data using hidden Markov models" \\
Talk at the EURING meeting, Barcelona, Spain. July 2017. \\
\\

"Can animals do MCMC? Integrating resource selection and step selection" \\
Talk at the meeting of the National Centre for Statistical Ecology, Canterbury, UK. June 2017. \\
\\

"Analysing animal movement data with moveHMM -- Conservation action plan for the wild haggis" \\
Talk at the International Statistical Ecology Conference, Seattle, USA. June 2016. \\
Best student talk award. \\
\\

"Multistate Ornstein-Uhlenbeck processes for modelling animal movement" \\
Talk at the Research Students' Conference in Probability and Statistics, Dublin, Ireland. June 2016. \\
\\

"moveHMM: an R package for modelling animal movement with hidden Markov models" \\
Seminar at the Australian Antarctic Division, Hobart, Australia. June 2016. \\
\\

"Hidden Markov models for animal movement and other ecological data". \\
Three-day workshop held in Mossel Bay, South Africa. March 2016.\\
["Workshop report"](http://oceans-research.com/news/report-workshop-hidden-markov-models-animal-movement-ecological-data/)\\
\\

"moveHMM: an R package for modelling animal movement with hidden Markov models" \\
Seminar at the Sea Mammal Research Unit, St Andrews, UK. November 2015.\\
\\

"A statistical introduction to animal movement modelling"\\
Talk at the German Statistical Week, Hamburg, Germany. September 2015.

<!-- {% for post in site.talks reversed %} -->
<!--   {% include archive-single-talk.html %} -->
<!-- {% endfor %} -->
