---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

&quot;Do animals move like statistical samplers?&quot; <br />
Talk at the Research Students' Conference in Probability and Statistics, Sheffield, UK. July 2018. <br />
<br />

&quot;Markov chain Monte Carlo as a model of animal movement and space use&quot; <br />
Talk at the International Statistical Ecology Conference, St Andrews, UK. July 2018. <br />
<br />

&quot;moveHMM and momentuHMM -- Analysing animal movement in R&quot;<br />
Tutorial at the moving2gather meeting, Montpellier, France. December 2017.<br />
<br />

&quot;Can animals do MCMC? Linking resource selection and step selection models&quot;<br />
Poster at the Bio-logging symposium, Konstanz, Germany. September 2017.<br />
<a href="biologging_poster.pdf">Click to see my poster.</a><br />
<br />

&quot;Hidden Markov models for animal movement and other ecological data&quot;. Demonstrator.<br />
Workshop held in St Andrews, UK. August 2017.<br />
<br />

&quot;From movement to space use&quot; <br />
Flash talk at the meeting of BES movement ecology group, London, UK. July 2017. <br />
<br />

&quot;momentuHMM: an R package for the analysis of general telemetry data using hidden Markov models&quot; <br />
Talk at the EURING meeting, Barcelona, Spain. July 2017. <br />
<br />

&quot;Can animals do MCMC? Integrating resource selection and step selection&quot; <br />
Talk at the meeting of the National Centre for Statistical Ecology, Canterbury, UK. June 2017. <br />
<br />

&quot;Analysing animal movement data with moveHMM -- Conservation action plan for the wild haggis&quot; <br />
Talk at the International Statistical Ecology Conference, Seattle, USA. June 2016. <br />
Best student talk award. <br />
<br />

&quot;Multistate Ornstein-Uhlenbeck processes for modelling animal movement&quot; <br />
Talk at the Research Students' Conference in Probability and Statistics, Dublin, Ireland. June 2016. <br />
<br />

&quot;moveHMM: an R package for modelling animal movement with hidden Markov models&quot; <br />
Seminar at the Australian Antarctic Division, Hobart, Australia. June 2016. <br />
<br />

&quot;Hidden Markov models for animal movement and other ecological data&quot;. Demonstrator.<br />
Workshop held in Mossel Bay, South Africa. March 2016.<br />
<a href="http://oceans-research.com/news/report-workshop-hidden-markov-models-animal-movement-ecological-data/">Workshop report</a><br />
<br />

&quot;moveHMM: an R package for modelling animal movement with hidden Markov models&quot; <br />
Seminar at the Sea Mammal Research Unit, St Andrews, UK. November 2015.<br />
<br />

&quot;A statistical introduction to animal movement modelling&quot;<br />
Talk at the German Statistical Week, Hamburg, Germany. September 2015.

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
